
#Java files
*.class

#Vscode
.Vscode/

#Compiled classes
target/

#Test directories
test/
Tests/
.settings/org.eclipse.jdt.apt.core.prefs
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.m2e.core.prefs
